#main {
      width: 600px;
      p {
           margin: 0 0 1em;
           padding: 0;
           em{
                  color: #f00;
               }
      }
      #sample{
             font-size: small;
      }
}